body{
    font-family: "Century Gothic";
    margin: 50px;
}
.mynavBar{
    margin-bottom: 15px;
}
.navElements {
    font-family: "Century Gothic";
    font-size: 20px;
    font-weight: bold;
}
.bg-company-mint{
    background-color: #00b1ac;
}
.myPic{
    margin-bottom: 15px;
}
.logButton{
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    height: 75px;
    width: 150px;
}
.rndImg {
    height: 200px;
}
a{
    color: #00b1ac;
}
a:focus {
    text-decoration: none;
}
.footerStuff{
    padding-left: 5px;
    padding-right: 5px;
    border-right: 1px black;
}
p {
    font-size: 28px;
}
