body{
    margin: 30px;
}
.bg-company-mint{
    background-color: #00b1ac;
}
.my-container {
    border: 1px solid green;
    margin: 5px;
}

.my-row {
    border: 3px solid red;
}
.my-col {
    border: 3px solid deeppink;
}
.myText {
    font-family: Roboto;
    font-size: 280px;
}
