body{
    font-family: "Century Gothic";
    margin: 50px;
}
.mynavBar{
    margin-bottom: 15px;
}
.navElements {
    font-family: "Century Gothic";
    font-size: 20px;
    font-weight: bold;
}
.bg-company-mint{
    background-color: #00b1ac;
}
.myPic{
    margin-bottom: 15px;
}
.main-content{
    margin-bottom: 15px;
}

p {
    font-size: 28px;
}
